.column {
    float: left;
    height: auto;
    width: 30%;
    text-align: center;
    background-color: bisque;
    color: black;
    text-transform: capitalize;
}

body {
    background-image: url(https://img.i-scmp.com/cdn-cgi/image/fit=contain,width=1098,format=auto/sites/default/files/styles/1200x800/public/2014/02/25/4.jpg?itok=wrZVZ9id);
    background-size: cover;
}

audio {
    height: 0px;
    width: 0px;
}