img {
    width: 250px;
    height: 200px;
    border-style: double;
    border-width: 10px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

h1,
h2,
h3,
h4,
p,
.info {
    text-align: center;
}

body {
    background-image: url(https://image.freepik.com/free-vector/pink-bokeh-background_53876-94132.jpg);
    background-size: cover;
}

a:link,
a:visited {
    color: black;
}