img {
    width: 250px;
    height: 200px;
    border-style: double;
    border-width: 10px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    text-align: center;
}

body {
    background-image: url(https://ak.picdn.net/shutterstock/videos/20154805/thumb/1.jpg);
}