.functions {
    height: 5%;
    border-radius: 15%;
    border: black;
    border-width: 2px;
    border-style: double;
    background-color: #efeff5;
}

td {
    border: black;
    width: 30%;
    height: 5%;
    border-width: 2px;
    border-style: solid;
    /* padding-top: auto;
    padding-bottom: auto; */
    border-radius: 45px;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    /* background-color: #ffebe6; */
    background-color: antiquewhite;
    width: 90%;
    height: 75%;
    border: darkseagreen;
    border-width: 2px;
    border-style: solid;
    border-collapse: separate;
    border-spacing: 10px;
}

.names {
    border-radius: 45px;
    text-align: left;
    width: 99%;
    height: 95%;
    font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
    /* background-color: #ffebe6;*/
    border: black;
    border-width: 2px;
    border-style: double;
    background-color: #efeff5;
}

#display {
    border: #cc0000;
    border-width: 2px;
    border-style: solid;
    background-color: #f2d9d9;
    width: 90%;
    height: 5%;
    margin-left: auto;
    margin-right: auto;
}