.functions {
    height: 5%;
    width: 65%;
    border-radius: 10px;
    border: black;
    border-width: 2px;
    border-style: double;
    background-color: rgb(153, 152, 152);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 10px 2px;
    margin-bottom: 2%;
}

#songs {
    border: black;
    width: 30%;
    height: 5%;
    border-width: 2px;
    border-style: solid;
    border-radius: 45px;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: rgb(255, 208, 208);
    font-size: 120%;
}

.songLabels {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(153, 152, 152);
    width: 65%;
    height: 50%;
    border: black;
    border-width: 2px;
    border-style: solid;
    border-collapse: separate;
    border-spacing: 10px;
    border-radius: 10px;
}

.names {
    border-radius: 45px;
    text-align: center;
    height: 90%;
    width: 10%;
    border: black;
    border-width: 2px;
    border-style: double;
    background-color: rgb(12, 155, 7);
    white-space: nowrap;
    margin-right: 1%;
    margin-left: 1%;
    color: white;
}

#display {
    border: #663300;
    border-width: 2px;
    border-style: solid;
    background-color: seashell;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    text-align: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    /* padding-left: 1%; */
    font-size: 120%;
}

body {
    background-image: url(https://www.chelmsforddogassociation.org/media_uploads/snowflakes.gif);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.title {
    margin-right: auto;
    margin-left: auto;
    padding-left: 20%;
    margin-top: 3%;
    margin-bottom: 2%;
}

.mode {
    border: black;
    width: 5%;
    height: 5%;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: #efeff5;
    font-size: 90%;
    font-weight: bold;
}

.control {
    border: black;
    width: 5%;
    height: 5%;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: rgb(255, 208, 208);
    font-size: 90%;
    font-weight: bold;
}